@import "../styles/variables";

.player-page {
    display: flex;
    flex-direction: column;
    background: var(--bg-dark);
    color: var(--white);
    flex: 1;

    .header {
        background: var(--blue);
        color: var(--yellow);
        display: flex;
        font-size: 20px;
        font-weight: 700;
        padding: 24px;

        .back-link {
            margin: 0 auto;
            max-width: 1248px;
            padding: 0 24px;
            width: 100%;
            text-align: left;
            display: flex;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    .player-info-background {
        background: rgb(3, 21, 51);
        width: 100%;
    }

    .player-info {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 1248px;

        .col-image,
        .col-stats,
        .col-contract,
        .col-scout {
            display: flex;
            flex-direction: column;
            margin: 2rem 0;
            padding: 1.5rem 2rem 1rem;
        }

        .col-image {
            align-items: center;
            flex: 0 0 200px;
            text-align: center;

            .player-image {
                border-radius: 50%;
                height: 100px;
                margin-bottom: 0.5rem;
                object-fit: cover;
                width: 100px;
            }

            .player-name {
                margin: 0;
            }
        }

        .col-stats {
            flex: 0.4;
            border-left: 1px solid var(--gray-light);
            border-right: 1px solid var(--gray-light);
        }

        .col-contract {
            flex: 0.6;
        }

        .col-scout {
            flex: 1;
            border-left: 1px solid var(--gray-light);
        }
    }

    .stats-container {
        flex: 1;
        margin-top: 16px;
        padding: 0 24px;
        width: 100%;
        overflow: auto;
        box-sizing: border-box;
    }

    .stats {
        margin: 0 auto;
        max-width: 1248px;
    }

    @media (max-width: 768px) {
        .player-info,
        .col-image,
        .col-stats,
        .col-contract,
        .col-scout {
            align-items: center;
            border: none;
            display: flex;
            flex: 1 1 100%;
            flex-direction: column;
            justify-content: center;
            margin: 0;
            padding: 1rem;
            text-align: center;
        }

        .col-image .player-image {
            height: 150px;
            width: 150px;
        }

        .col-stats,
        .col-contract {
            margin: 0 auto;
            width: 75%;
        }

        .col-stats {
            border-top: 1px solid var(--gray-light);
        }
        .col-contract {
            border-top: 1px solid var(--gray-light);
            border-bottom: 1px solid var(--gray-light);
        }
    }
}
