.recharts-heatmap {
    position: relative;
    overflow: hidden;
}

.pitch-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0.2;
    pointer-events: none;
}
