.heatmap-container {
    position: relative;
    background: url("../assets/football-pitch.svg") no-repeat center/contain;
}

.heatmap-overlay {
    position: absolute;
    top: 26px;
    right: 10px;
    bottom: 24px;
    left: 10px;
    pointer-events: none;
}
