.heatmap-container {
    position: relative;
    background: url("../assets/football-pitch.svg") no-repeat center/contain;
}

.heatmap-overlay {
    position: absolute;
    top: 15px;
    right: 5px;
    bottom: 15px;
    left: 5px;
    pointer-events: none;
}
