.navbar-logo {
    height: 72px;
}
.navbar {
    max-width: 1248px;
    margin: auto;
    padding: 20px;
    a {
        text-decoration: none;
        color: #213a8f;
        font-weight: 700;
    }
}
