//app.scss
@import "./styles/variables";

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root,
#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.content {
    margin: 0 auto;
    max-width: 1248px;
    width: 100%;
    padding: 0 24px;
}

button {
    border: none;
    padding: 9px 12px;
}
.content {
    padding: 0 24px !important;
    max-width: 1248px;
    margin: auto;
    width: 100%;
}

button {
    border: none !important;
    padding: 9px 12px !important;
}

.flex-1 {
    flex: 1;
}

// .spacer-lg {
//     height: 24px;
// }
