html,
body,
#root,
#app {
    font-family: "Montserrat", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#app {
    max-width: 1248px;
}

#main {
    padding: 24px !important;
}

button {
    border: none !important;
    padding: 9px 12px !important;
}
