$yellow: #ffd600;
$blue: #2138af;
html,
body,
#root,
#app {
    font-family: "Montserrat", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    padding: 0 24px !important;
    max-width: 1248px;
    margin: auto;
}

button {
    border: none !important;
    padding: 9px 12px !important;
}
